@font-face {
  font-family: Montserrat-Regular;
  src: url(../fonts/Montserrat-Regular.ttf);
}
h1{
  font-size: 45px;
  font-weight: 900;
}
.info h2{
  font-size: 35px;
}
.info p {
  font-weight: 500;
  line-height: 1.5rem;
}
body{
  margin: 0;
  font-family: Montserrat-Regular;
}
.info {
  width: 40%;
  float: left;
  margin-left: 3%;
  padding-left: 4%;
}
.info img {
  width: 150%;
  margin-top: -100px;
  margin-left: -150px;
}
.btn {
  background-image: linear-gradient(orange, tomato);
  border-radius: 5%;
  font-size: 15px;
  color:black;
  font-weight: 600;
  text-decoration: none;
  padding: 10px 20px;
  margin-top: 2%;
  
}
.name {
  color:cyan;
}
section {
  padding: 100px;
  height: 500px;
  
}
.heading-bg {
  background-image: url(../image/header-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.bio-bg {
  background-image: url(../image/biography-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.top {
  margin-top: 100px;
}
.latest {
  background-image: url(../image/latest-work-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  margin-top: -100px;
}
.work {
  display: flex;
  
}
  
.work img {
 width: 90%;
 margin: 2%;
 transition: all 0.5s;

}
.work img:hover {
  box-shadow: 5px 0 18px gray;
  width: 95%;
}